 <!-- Header -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">My Website</a>
  </div>
</nav>

<!-- Left Sidebar -->
<div class="sidebar left-sidebar">
  <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="userprofilelink">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
  </ul>
</div>

<!-- Right Sidebar -->
<div class="sidebar right-sidebar">
  <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
  </ul>
</div>

<!-- Main Content -->
<div class="content">
  <h2>Welcome to My Website</h2>
  <p>This is a simple Bootstrap template with a header, sidebars, and a footer.</p>
 
<router-outlet></router-outlet>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let user of profileDetails">
      <th scope="row"></th>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.address}}</td>
      <td>{{user.email}}</td>
    </tr>
  

  </tbody>
</table>

</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  &copy; 2025 My Website | All Rights Reserved
</footer>